<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="login">Admin</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
     </ul>

     <ul class="nav navbar-nav">
      <li class="glyphicon glyphicon-pollo"><a href="#">Pollo</a></li>
     </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="signup"><span class="glyphicon glyphicon-signup"></span>Signup</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-login"></span>Login</a></li>
    </ul>
  </div>
</nav>

<h1><center> Hello Rameshwar </center></h1>
</body>
</html>
