<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.signupbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signupbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.login {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
</head>
<body>

<center><h2>Pollo</h2></center>

<form action="/signup" method="post">

  <div class="container">
   <h2 style="text-align:center"><%= title %></h2>
   <% if(msg !=''){ %>
     <p style="text-align:center">
     <%= msg %>
     </p>
     <% }%>

    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="username"><b>UserName:</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <label for="email"><b>EmailId:</b></label>
    <input type="text" placeholder="Enter Email" name="eid" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="confpassword"><b>Conform Password</b></label>emailid
    <input type="password" placeholder="Conform Password" name="confpsw" required>



    <button type="submit" class="signupbtn">Signup</button>
  </div>

  <div class="container login">
  <p>All ready have account? <a href="login">Login Here</a>.</p>
  </div>
</form>

</body>
</html>
